/*
COLORS:

Cyan: #2ff3e0
Gold: #f8d210
Pink: #28b485
Chili Pepper: #f51720

*/
$color-primary: #2ff3e0;
$color-secondary: #f51720;
$color-tertiary: #28b485;
$color-accent: #f8d210;
$color-galaxy-purple: #4c175a;
$color-space-purple: #27214f;

$color-red: #ff0000;
$color-green: #00ff00;
$color-blue:#0000ff;
$color-yellow: #fff800;
$color-cyan: #00f0e5;
$color-grey-light-1: #f7f7f7;

$color-arcade-green: #005900;
$color-arcade-grey: #5A5A5A;

// Grid
$float-grid-width: 90rem;
$float-gutter-verticle: 2rem;
$float-gutter-horizontal: 1rem;

// Font
$font-default: 1.6rem;
$font-large: 3rem;